.button-reset {
    all: unset;
    cursor: pointer;

  }

  .red-icon {
    color: red;
    transition: color 0.3s ease;
  }
  
  .red-icon:hover {
    color: darkred; /* or any color you want on hover */
  }
  
  .large-icon {
    font-size: 20px;
  }